@model ultimateorganiser.ViewModels.AddMembersToClub
@using (Html.BeginForm("AddMembers", "Home", FormMethod.Post))
{
<div>

    @Html.ListBoxFor(x => x.MemberIds, Model.Members)
    @Html.HiddenFor(e => e.ClubID)
    <input type="submit" />
</div>
}


@*@model ultimateorganiser.ViewModels.AddMembersToClub
@using (Html.BeginForm())
{
    <h2>Add new members to @Model.ClubName</h2>

    @Html.HiddenFor(s => s.ClubId)
    @Html.ListBoxFor(s => s.SelectedMembers, Model.Members)

    <input type="submit" />
}*@

@*@model ultimateorganiser.ViewModels.AddMembersToClub
<div>
@using (Html.BeginForm("AddMembers", "Home", FormMethod.Post))
{
    <h2>Add new member to @Model.ClubName</h2>

    <h4>Select new members from the list below</h4>

    @Html.ListBoxFor(x => x.MemberIDs, Model.Members)

    <input type="submit" />

}
</div>*@

