@model ultimateorganiser.Models.Club

@{int MemberRowNo = 0;}
@{int EventRowNo = 0;}

@{
    ViewBag.Title = "Details";
}

@if (Model != null)
{
    <div class="container">

        <div>
            <h2>@Model.ClubName</h2>
            <p style="opacity:0.7">@Model.ClubDescription</p>
        </div>

        <p>Edit Club Details</p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ClubID }, new { @class = "btn btn-warning btn-xs" }) 

        <br />

        <p>Create Event for this club</p>
        @Html.ActionLink("Create new event", "CreateEvent", new { id = Model.ClubID }, new { @class = "btn btn-warning btn-xs" })

        

        @*Members Table*@
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Members</h3>
                        <div class="pull-right">
                            <span class="clickable filter" data-toggle="tooltip" title="Filter members" data-container="body">
                                <i class="glyphicon glyphicon-filter"></i>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Memberss" />
                    </div>
                    <table class="table table-hover" id="dev-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.ClubMembers)
                        {
                            <tbody>
                                <tr>
                                    <td>@(MemberRowNo += 1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UserFName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UserLName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UserEmail)</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>

        @*Events Table*@
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Events</h3>
                        <div class="pull-right">
                            <span class="clickable filter" data-toggle="tooltip" title="Filter events" data-container="body">
                                <i class="glyphicon glyphicon-filter"></i>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Events" />
                    </div>
                    <table class="table table-hover" id="dev-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Date</th>
                                <th>Description</th>
                            </tr>
                        </thead>



                        @foreach (var item in Model.ClubEvents)
                        {
                            <tbody>
                                <tr>
                                    <td>@(EventRowNo += 1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EventTitle)</td>
                                    <td>@Html.DisplayFor(modelItem => item.eventType)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EventDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EventDesc)</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>



        <div>
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-sm btn-primary" })
        </div>
    </div>

}

else
{
    <div class="alert alert-warning">
        <h4>This club does not exist</h4>
        <a href="" class="btn btn-info"></a>
        @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-sm btn-warning" })
    </div>
}

@*@section scripts{
    <script type="text/javascript">
        $(function () {
            $('.panel').hover(
                function () {
                    $(this).find('.panel-footer').slideDown(250),
                        $(this).find('.panel-footer').css("background", "#0099ff");
                },

                function () {
                    $(this).find('.panel-footer').slideUp(250);

                });
        })
    </script>*@


@*<div class="row">
            <div class="panel-body">
                <h3>
                    @Html.DisplayFor(model => model.ClubName)<small>&nbsp;&nbsp;@Html.DisplayFor(model => model.ClubDescription)</small><span>

                        @Html.ActionLink("Edit", "Edit", new { id = Model.ClubID }, new { @class = "btn btn-sm btn-warning " })
                        @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-sm btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = Model.ClubID }, new { @class = "btn btn-sm btn-danger" })

                    </span>
                </h3>
            </div>
    </div>*@