@model ultimateorganiser.Models.ClubMember

@{
    ViewBag.Title = "MyProfile";
}

<h2>@Html.DisplayFor(model => model.UserName)</h2>

<div>
    <h4>ClubMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDoB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDoB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
